---
interface Props {
    title: string;
}
import { Font } from "astro:assets";
const { title } = Astro.props;

let description =
    "i'm arti, an eepy virtual catgirl/foxgirl/doggirl thing. i also go by the usernames artifish(vr) and artificialvr!";
---

<!doctype html>
<html lang="en">
    <head>
        <Font cssVariable="--font-archivo" preload />
        <meta charset="UTF-8" />
        <meta name="darkreader-lock" />

        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="Arti" />
        <meta property="og:title" content="Arti's links & stuff" />
        <meta property="og:type" content="profile" />
        <meta property="og:profile:first_name" content="Arti" />
        <meta property="og:profile:username" content="ArtificialVR" />
        <meta property="og:profile:gender" content="female" />
        <meta property="og:url" content="https://arti.gay/" />
        <meta name="description" content={description} />
        <meta name="author" content="ArtificialVR" />
        <meta
            name="keywords"
            content="Arti, ArtificialVR, artifish, artifishvr, VTuber, Instagram, Twitter, Bluesky, VRChat, live streams, gaming, virtual YouTuber"
        />
        <meta name="theme-color" content="#0cbef4" data-react-helmet="true" />

        <meta name="twitter:description" content={description} />
        <meta name="twitter:title" content="Arti's links & stuff" />
        <meta name="twitter:creator" content="@ArtificialVR" />
        <meta name="twitter:site" content="Arti" />

        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type={imageMIME} href={pfp.src} /> -->
        <title>{title}</title>
    </head>
    <body class="bg-purple-950 text-zinc-950">
        <slot />
    </body>
</html>

<style>
    @import "tailwindcss";

    body {
        font-family: var(--font-archivo);
    }
</style>

<script
    is:inline
    defer
    data-domain="erping.ca"
    src="https://a.arti.lol/js/script.file-downloads.outbound-links.js"
></script>
